language: android
dist: trusty
android:
  components:
    - build-tools-29.0.3
    - android-29
    - add-on
    - extra
  licenses:
    - 'android-sdk-preview-license-52d11cd2'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'
